/* GLOB */
html {
    box-sizing: border-box;
  }
  
body {
    min-width: 320px;
    font-family: 'Muller', Helvetica, sans-serif;
    font-weight: normal;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --gutter: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: inherit;
}

.flex {
    display: flex;
}

.container {
    max-width: calc(1110px + (var(--gutter)) * 2);
    margin: 0 auto;
    padding: 0 var(--gutter);
}

svg,
img {
    display: block;
}

button {
    cursor: pointer;
}

textarea {
    resize: none;
}

/* Header */
.header__section-top {
    padding: 20px 0;
}

.header__container-top {
    /* flex-flow: row wrap; */
    /* justify-content: space-between; */
    align-items: center;
    column-gap: 7.3%;
}

.header__nav-top {
    width: 57.5%;
}

.nav__list-top {
    flex-flow: row wrap;
    /* justify-content: space-between; */
    justify-content: flex-start;
    /* column-gap: 9.2%; */
    gap: 15% 9.2%;
}

.item__link-top {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #121723;
    transition: color .3s ease-in-out;
}

.item__link-top:hover {
    color: #6D31EE;
}

.item__link-top:focus {
    color: #FFFFFF;
}

.item__link-top:active {
    color: #4F28A5;
}

.item__link-top::before {
    content: "";
    position: absolute;
    top: -4px;
    right: -10px;
    bottom: -4px;
    left: -10px;
    background-color: #AA9DFA;
    z-index: -1000;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.item__link-top:focus::before {
    opacity: 1;
}

.item__link-top:active::before{
    opacity: 0;
}

.header-manager__box-top {
    position: relative;
    align-items: center;
    width: 152px;
    column-gap: 15.8%;
}

.header__input-search {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    transform: translateX(0);
    width: 278px;
    height: 24px;
    border: none;
    border-bottom: 1px solid #6D31EE;
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out;
    z-index: 0;
}

.header__input-search--active {
    visibility: visible;
    display: inline-block;
    transform: translateX(-108%);
    opacity: 1;
}

.header__input-search:focus-visible {
    outline: none;
}

.header__button-search {
    z-index: 10;
}

.header__button-search svg {
    stroke: #6D31EE;
    transition: stroke .3s ease-in-out;
}

.header__button-search:hover svg {
    stroke: #AA9DFA;
}

.header__button-search:focus svg {
    stroke: #AA9DFA;
}

.header__button-search:active svg {
    stroke: #4F28A5;
}

.header__button-entr {
    width: 104px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #121723;
    border: 2px solid #121723;
    border-radius: 77px;
    z-index: 10;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.header__button-entr:hover {
    color: #FFFFFF;
    background-color: #121723;
}

.header__button-entr:focus {
    color: #121723;
    background-color: #AA9DFA;
}

.header__button-entr:active {
    color: #FFFFFF;
    border-color: #4F28A5;
    background-color: #4F28A5;
}


.header__section-bottom {
    padding: 10px 0;
    border-top: 1px solid #E6E8EC;
    border-bottom: 1px solid #E6E8EC;
}

.header__container-bottom {
    justify-content: space-between;
    align-items: center;
    column-gap: 4.7%;
}

.body__popup--active {
    overflow: hidden;
}

body::after {
    content: '';
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
    z-index: 999;
    transition: background .2s ease-in-out, visibility .2s ease-in-out;
}

.body__popup--active::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 999;
}

.header__popup-entr {
    position: absolute;
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 824px;
    padding: 60px;
    background: #121723;
    z-index: 1000;
    transform: translateX(-50%) translateY(-50%) scale(0.5);
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.header__popup-entr--active {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.popup__title {
    margin-bottom: 17px;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
}

.popup__subtitle {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.popup-register {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #6D31EE;
}


.popup__form {
    width: 526px;
}

.popup__input {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    background-color: inherit;
    padding: 25px 32px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #A1A6B4;
}

.popup__input:focus-visible {
    outline: none;
}

.popup__form-btn {
    margin-bottom: 30px;
    padding: 25px 54px;
    background-color: #6D31EE;
    border: 1px solid #6D31EE;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.popup__form-btn:hover {
    background-color: #AA9DFA;
    border-color: #AA9DFA;
}

.popup__form-btn:focus {
    background-color: #AA9DFA;
    border-color: #4F28A5;
}

.popup__form-btn:active {
    background-color: #4F28A5;
    border-color: #4F28A5;
}

.popup__entr-help {
    margin-bottom: 30px;
    padding-top: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    border-top: 1px solid rgba(230, 232, 236, 0.4);
}

.popup__item:not(:last-child) {
    margin-right: 40px;
}

.popup__close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.popup__close-btn svg {
    stroke: #A1A6B4;
    transition: stroke .3s ease-in-out;
}

.popup__close-btn:hover svg {
    stroke: #6D31EE;
}

.popup__close-btn:focus svg {
    stroke: #AA9DFA;
}

.popup__close-btn:active svg {
    stroke: #4F28A5;
}


.header__nav-bottom {
    width: 100%;
    max-width: 545px;
}

.nav__list-bottom {
    justify-content: space-between;
    /* column-gap: 8.53%; */
}

.item__link-bottom {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
    transition: color .3s ease-in-out;
}

.item__link-bottom:hover {
    color: #6D31EE;
}

.item__link-bottom:focus {
    color: #FFFFFF;
}

.item__link-bottom:active {
    color: #4F28A5;
}

.item__link-bottom::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -5px;
    bottom: -2px;
    left: -5px;
    background-color: #AA9DFA;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.item__link-bottom:focus::before {
    opacity: 1;
}

.item__link-bottom:active::before {
    opacity: 0;
}

.header-manager__box-bottom {
    width: 31.4%;
    border-right: 1px solid #E6E8EC;
    border-left: 1px solid #E6E8EC;
}

.manager__box-wrapper {
    width: 50%;
    padding: 0 10px;
}

.manager__box-wrapper:nth-child(1) {
    border-right: 1px solid #E6E8EC;
}

.manager__box-button-1-play--active,
.manager__box-button-2-play--active {
    margin-right: 8px;
}

.manager__box-button-1-play--deactive,
.manager__box-button-2-play--deactive {
    display: none;
}

.manager__box-button-1-play--active svg,
.manager__box-button-2-play--active svg {
    fill: #A1A6B4;
    transition: fill .3s ease-in-out;
}

.manager__box-button-1-play--active:hover svg,
.manager__box-button-2-play--active:hover svg {
    fill: #6D31EE;
}

.manager__box-button-1-play--active:focus svg,
.manager__box-button-2-play--active:focus svg {
    fill: #AA9DFA;
}

.manager__box-button-1-play--active:active svg,
.manager__box-button-2-play--active:active svg {
    fill: #4F28A5;
}

.manager__box-button-1-pause--active,
.manager__box-button-2-pause--active {
    margin-right: 8px;
}

.manager__box-button-1-pause--deactive,
.manager__box-button-2-pause--deactive {
    display: none;
}

.mng-btm-when-playing {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}
.mng-btm-title-playing {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
}
.age-restrictions__wrapper {
    margin: -10px 0;
}

.hero__container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.hero__container {
    background: url(../img/hero/microphone.jpg) no-repeat right 10px center;
}

.hero__title {
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #121723;
}

.hero__title span {
    font-style: italic;
    font-weight: 500;
}

.hero__subtitle {
    max-width: 57.2%;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #121723;
}
.hero__button-listen {
    width: 22.1%;
    padding: 25px 20px;
    background: #6D31EE;
    border: 2px solid #6D31EE;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    transition: background .3s ease-in-out, border-color .3s ease-in-out;
}

.hero__button-listen:hover {
    background: #AA9DFA;
    border-color: #AA9DFA;
}

.hero__button-listen:focus {
    background: #AA9DFA;
    border-color: #4F28A5;
}

.hero__button-listen:active {
    background: #4F28A5;
    border-color: #4F28A5;
}

.podcast__section {
    padding: 94px 0;
    background-color: #E6E8EC;
}

.podcast__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #121723;
}

.podcast__list {
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.podcast__item {
    position: relative;
    width: calc((100% - (var(--gutter)) * 2) / 2);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.podcast__item:not(:nth-child(2n)) {
    margin-right: 30px;
}

.podcast__info {
    width: calc(100% - 142px);
}

.podcast__img {
    margin-right: 30px;
}

.podcast__img img {
    height: 100%;
}

.podcast__section-top {
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.section-top__box-left {
    padding: 22px 0 22px 0;
}

.podcast__time {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #121723;
}

.podcast__name {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #121723;
}

.podcast__author {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
}

.podcast__btn-play svg {
    stroke: #A1A6B4;
    transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.podcast__btn-play svg path {
    fill: #A1A6B4;
    transition: fill .3s ease-in-out;
}

.podcast__btn-play:hover svg {
    stroke: #6D31EE;
}

.podcast__btn-play:hover svg path {
    fill: #6D31EE;
}

.podcast__btn-play:focus svg {
    stroke: #AA9DFA;
}

.podcast__btn-play:focus svg path {
    fill: #AA9DFA;
}

.podcast__btn-play:active svg {
    stroke: #4F28A5;
    fill: #4F28A5;
}

.podcast__btn-play:active svg path {
    fill: white;
}

.podcast__section-bottom {
    position: relative;
    padding: 8px 0;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
}

.podcast__section-bottom::after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    bottom: 0;
    right: 0;
    z-index: 0;
    border-top: 1px solid #E6E8EC;
}

.podcast__section-bottom span {
    padding-left: 18px;
}

.podcast__section-bottom span:not(:last-child) {
    margin-right: 30px;
}

.podcast__play {
    background: url(../img/podcast/info-play.svg) no-repeat left;
}

.podcast__like {
    background: url(../img/podcast/info-like.svg) no-repeat left;
}

.podcast__share {
    background: url(../img/podcast/info-share.svg) no-repeat left;
}

.podcast__date {
    position: absolute;
    background-color: #E6E8EC;
    min-width: 50px;
    padding: 3px 6px;
    bottom: 0;
    left: 0;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #121723;
}

.podcast__button {
    display: block;
    width: 22.2%;
    margin: 0 auto;
    padding: 25px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #6D31EE;
    border: 2px solid #6D31EE;
    border-radius: 40px;
}

.broadcast__section {
    padding: 94px 0;
}

.broadcast__container-right {
    padding-top: 14px;
}

.broadcast__container-left {
    flex-direction: column;
    justify-content: space-between;
    width: 46.7%;
    margin-right: 30px;
}

.broadcast__title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #121723;
}

.broadcast__author {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
}

.broadcast__select {
    width: 100%;
}

.brdcs-left__bottom {
    padding-top: 113px;
    background: url(../img/broadcast/mic.png) no-repeat left top;
}

.brdcs__button-archive {
    width: 62.8%;
    margin-bottom: 12px;
    padding: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
    border: 2px solid #121723;
    border-radius: 77px;
}

.brdcst__desc-archive {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #A1A6B4;
}

.broadcast__list {
    flex-wrap: wrap;
    gap: 30px 30px;
}

.broadcast__info {
    padding: 20px 16px;
    border-left: 1px solid #E6E8EC;;
    border-right: 1px solid #E6E8EC;;
    border-bottom: 1px solid #E6E8EC;;
}

.broadcast__name {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #121723;
}

.broadcast__time {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}

.broadcast__link-more {
    padding-right: 28px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
    background: url(../img/broadcast/stripe.svg) no-repeat right center;
}

.choices__inner {
    padding: 8px 15px 8px 8px;
    background-color: #E6E8EC;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
    transition: background-color .3s ease-in-out;
}

.choices:hover .choices__inner {
    background-color: #F5F6F7;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 8px;
}

.choices[data-type*=select-one]::after {
    content: url(../img/broadcast/mark-default.svg);
    height: 0;
    width: 0;
    border: none;
    position: absolute;
    right: 29.5px;
    top: 50%;
    margin-top: -7.5px;
    pointer-events: none;
}

.choices[data-type*=select-one].is-open::after {
    transform: rotate(180deg);
    right: 17px;
    margin-top: 7.5px;
}

.choices__list--single {
    display: inline-block;
    padding: 7px 16px 4px 4px;
    width: 100%;
}

/* GUEST */
.guest__section {
    padding: 94px 0;
    background-color: #121723;
    color: #FFFFFF;
}

.guest__title {
    margin-bottom: 12px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}

.guest__desc-top {
    margin-bottom: 8px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #A1A6B4;
}

.guest__desc-bottom {
    max-width: 825px;
    margin-bottom: 50px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #A1A6B4;
}

.accordion-container {
    width: 730px;
    margin-right: 30px;
}

.tabs__item {
    /* display: none; */
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateX(20%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.tabs__item--active {
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.tabs__item-about {
    max-width: 350px;
}

.ac {
    margin: 0;
    border: none;
    background-color: #121723;
    border-bottom: 1px solid #A1A6B4;
}

.ac:first-child {
    border-top: 1px solid #A1A6B4;
}

.ac .ac-trigger {
    padding: 34px 0;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.tabs-nav__btn {
    color: #FFFFFF;
}

.ac .ac-trigger::after {
    content: url(../img/guest/guest-close.svg);
    width: auto;
    right: 0;
}

.ac.is-active>.ac-header .ac-trigger::after {
    content: url(../img/guest/guest-open.svg);
}

.ac .ac-trigger:focus {
    color: #FFFFFF;
}


.is-active .ac-trigger {
    border-bottom: 1px solid #AA9DFA;
}

.is-active:first-child {
    border-top: 1px solid #AA9DFA;
}

.is-active:nth-child(-n) {
    border-bottom: 1px solid #AA9DFA;
}

.ac .ac-panel .ac-text {
    padding: 30px 0;
}

table {
    border: none;
}

td:not(:nth-child(4n)) {
    padding-right: 30px;
}

tr:not(:last-child) {
    margin-bottom: 16px;
}

.tabs-nav__btn {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.tabs__item img {
    margin-bottom: 14px;
}

.tabs__item-links img:not(:last-child) {
    margin-right: 34px;
}

.tabs__item-name {
    margin-bottom: 8px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.tabs__item-about {
    margin-bottom: 30px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #A1A6B4;
}

.tabs__item-btn {
    padding: 12px 19px;
    border: 2px solid #AA9DFA;
    border-radius: 77px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #AA9DFA;
}

.tabs-nav__btn--active {
    color: #AA9DFA;
}

.playlist__section {
    padding: 94px 0;
}

.playlist__form {
    flex-direction: column;
}

.playlist__container-left {
    min-width: 350px;
    margin-right: 30px;
}

.playlist__title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #121723;
}

.playlist__form-title {
    margin-bottom: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #A1A6B4;
}

.playlist__form {
    padding-bottom: 24px;
    margin-bottom: 37px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #121723;
    border-bottom: 1px solid #D2D5DD;
}

.playlist__subtitle-age {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A1A6B4;    
}

.playlist__subtitle-more-info {
    margin-bottom: 5px;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #A1A6B4;
}

.playlist-custom-radio {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    height: 26px;

}

.playlist-custom-radio input {
    display: none;
    visibility: hidden;
}

.playlist-custom-radio span {
    padding-top: 4px;
    padding-left: 40px;
    cursor: pointer;
}

.playlist-custom-radio span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    border: 2px solid #A1A6B4;
    border-radius: 50px;
    transition: border .1s ease-in-out;
}

.playlist-custom-radio input:checked + span::before {
    border: 7px solid #6D31EE;
}

.playlist__list {
    flex-wrap: wrap;
    gap: 30px;
}

.playlist__item {
    position: relative;
    max-width: 160px;
    min-height: 224px;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out, transform-origin .3s ease-in-out;
}

.playlist__item:hover {
    transform: scale(1.05);
    /* transform-origin: center bottom; */
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.playlist__box-info {
    padding: 16px;
    border: 1px solid #E6E8EC;
    border-top: none;
}

.playlist-name {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #121723;
}

.playlist-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #A1A6B4;
}

.playlist-contry-marker-rus {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 20px;
}

.playlist-contry-marker-brit {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 20px;
}

.sale__section {
    padding: 94px 0;
    background: #292E39;
}

.sale__container {
    gap: 30px;
}

.sale__container-left {
    position: relative;
}

.sale__container-left img {
    padding-top: 8px;
}

.sale__container-left::after {
    content: url(../img/sale/stiker.png);
    position: absolute;
    top: 0;
    left: 0;
}

.sale__container-right {
    max-width: 445px;
}

.sale__title {
    margin-bottom: 19px;
    padding-bottom: 29px;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #F0D288;
    background: url(../img/sale/background.svg) no-repeat bottom;
}

.sale__subtitle-top,
.sale__subtitle-bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #FFFFFF;
}

.sale__subtitle-top {
    margin-bottom: 12px;
}

.sale__subtitle-bottom {
    margin-bottom: 30px;
}

.sale-price {
    display: block;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
}

.sale__btn {
    padding: 25px 13.5px 25px 41.5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #F0D288;
    border: 2px solid #F0D288;
    border-radius: 100px;
    background: url(../img/sale/background-btn.svg) no-repeat 13.5px center;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.sale__btn:hover {
    background-color: #F0D288;
    color: #121723;
}

.swiper {
    width: 100%;
    height: 361px;
    
    
  }

.about-us__section {
    padding: 94px 0;
    background: #121723;
}

.about-us__title {
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: #FFFFFF;
}


.about-us__container {
    background: url(../img/about-us/background-top-right.svg) no-repeat top right;
}

.about-us__subtitle-top {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #A1A6B4;
}

.about-us__subtitle-bottom {
    max-width: 634px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #A1A6B4;
}

.swiper-slide img {
    margin-bottom: 30px;
}

.about-us-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.about-us-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A1A6B4;
}

.swiper-object {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    /* margin-left: auto;
    margin-right: auto;
    width: 80%; */
}

.swiper-button-prev-uniq,
.swiper-button-next-uniq {
    position: absolute;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.swiper-button-prev-uniq:hover,
.swiper-button-next-uniq:hover {
    transform: scale(1.15);
}

.swiper-button-prev-uniq {
    left: -75px;
    top: 115px;
}

.swiper-button-next-uniq {
    right: -75px;
    top: 115px;
}

.about-us__form {
    max-width: 920px;
}

.about-us__input {
    padding: 25px 32px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #A1A6B4;
    background-color: inherit;
}

.about-us__input-message {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    min-height: 150px;
}

.about-us__input-name,
.about-us__input-email {
    width: calc((100% - (var(--gutter)) * 2) / 2);
    margin-bottom: calc((var(--gutter))*2);
}

.about-us__input-name {
    margin-right: calc((var(--gutter)) * 2 - 1px * 4);
}

.about-us__btn-submit {
    display: block;
    padding: 25px 54px;
    margin-bottom: 30px;
    background-color: #6D31EE;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.about-us-check {
    display: none;
}

.about-us__form label {
    position: relative;
    align-items: center;
    padding-left: 24px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.about-us-check-custom {
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid #FFFFFF;
    transform: translateY(-58%);
}

.about-us-check-custom::before {
    content: url(../img/about-us/check.svg);
    position: absolute;
    top: 60%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity .3s ease-in-out;
}

.about-us-check-text {
    display: block;
}

.about-us-check:checked + .about-us-check-custom::before {
    opacity: 1;
}

.footer__section {
    background-color: #292E39;
}

.footer__section-top {
    padding: 94px 0;
}

.footer__wrapper-left {
    margin-right: calc(100% / 2.198);
    flex-direction: column;
    flex-shrink: 0;
}

.footer-logo {
    margin-bottom: 22px;
    width: 100%;
}

.footer__item-social:not(:last-child) {
    margin-right: 23px;
}

.footer-nav__list-column:not(:last-child) {
    margin-right: 109px;
}


.footer-nav__item-top:not(:last-child) {
    margin-bottom: 20px;
}

.footer-nav__item-top {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.footer__section-bottom {
    padding: 20px 0 10px 0;
    background: url(../img/footer/background.svg) no-repeat top;
}

.footer__rights {
    max-width: 160px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 103.34%;
    color: #A1A6B4;
}